@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Teko:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1F1517;
    color: #FFFFFF;
}
html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem /*10rem*/;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
   
}

.github{
    color: #FFF2E7;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
}
.principal{
    background: #181012;
}
.hero{
   
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.destaque{
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom{
    color: #A45A49;;
}

.amarelo{
    color: #E7A80E;
}

h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr{
    border-color: #A45A49;
    border-style: solid;
    width: 15rem;
}

.hero-subtitulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
.hero-imagens-container{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens-container > figure > img{
    width: 100%;
    border-radius: 0.5rem;
}

.botao-container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding: 0rem 2rem; /*Adicionei*/
    position: relative; /*Adicionei*/
    bottom: 30px; /*Adiconei*/
    transform: translate("0,-50%");
}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
}

.receitas{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo{
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.receitas-subtitulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-container{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card{
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo{
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-avaliacao{
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img{
    border-radius: 20rem;
    width: 1.5rem;
}

.receita-autor-nome{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;;
}

.footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

/* CADASTRO */ 

.cadastro{
   
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/cafeteria.jpg'); 
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: end;
}

.cadastro-container{
    background-color: #181012;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 800px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cadastro-titulo{
    /* text-align: center; */
    font-family: Montserrat;

    font-size: 37px;
    font-weight: 800;
}

.cadastro-paragrafo{
    color: #C7BAB3;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 50px;
}
input{
    padding: 8px 0px 8px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline:none;
    color: #FFFFFF;
    font-size: 1rem;
   
}

::placeholder{
    color: #C7BAB3;
    font-size: 1.1rem;
}

#nome {
    width: 420px;
}

#senha{
    width: 260px;
}

.cadastro-botao{
    margin-top: 25px;
    border: none;
    padding: 16px 26px 16px 26px;
    border-radius: 0.5rem;
    background: #A45A49;
    color: #FFFFFF;
    font-size: 1rem;
}

.cadastro-botao:hover{
    opacity: 0.8;
    cursor: pointer;
}
